services:
  app:
    build: 
      context: .
    image: football-tracker-app
    container_name: football-app
    restart: unless-stopped
    environment:
      APP_ENV: production 
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: pgsql
      DB_HOST: db          
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      LOG_CHANNEL: stderr
    ports:
      - "8000:80"
 
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "php artisan migrate --force && 
             php artisan octane:start --server=frankenphp --host=0.0.0.0 --port=80 --admin-port=2019 --no-interaction"

  db:
    image: postgres:16-alpine
    container_name: football-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: